.section-cards{
    background-color: #b0b86c;
    padding: 1rem;
    font-family: Proxima Nova, -apple-system, Roboto, Arial, sans-serif;
    color: #24291d;
}

.cards-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}