.search-bar{
    display: flex;
    background-color: #b0b86c;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 3.7rem;
    margin: 0 auto;

    &__logo-container{
        width: 5.75rem;
        height: 3.5rem;

        @media screen and (min-width: 992px) {
            &{
                width: 5rem;
                height: 4rem;
                margin-left: 10px;
            }
            
        }
    }

    &__logo-img{
        opacity: 0;

        @media  screen and (min-width: 576px) {
            &{
                opacity: 1;
                width: 50px;
                object-fit: contain;
            }
        }

        @media screen and (min-width: 1200px) {
            &{
                width: 80px;
                position: relative;
                
            }
            
        }
    }

    &__form-container{
        padding: 1rem;
        display: flex;
        flex-basis: 1000px;
        justify-content: center;

        @media screen and (min-width: 992px) {
            &{
                max-width: 100%;
            }
            
        }
    }

    &__form-label{
        background-color: none;
    }

    &__form-submit{
        background-color: #b0b86c;
        margin-left: 1px;
        border-radius: 5px;
        padding: 5px;
        transition: background-color 0.4s ease-in-out;
        cursor: pointer;

        @media screen and (min-width: 1200px) {
            &:hover {
                background-color: #bccd25;
            }
        }
    }

    
}

/* menu toogle */
.menu-toogle{
    display: block;
    flex: 0 0 3rem;
    position: relative;
    cursor: pointer;
    height: 50px;

    &__label {
        display: block;
        height: 100%;
    }

    &__top-bread,
    &__meat,
    &__bottom-bread{
        display: block;
        background-color: #333;
        height: .2rem;
        position: absolute;
        left: .5rem;
        right: .5rem;
        transition: all 0.3s ease-in-out;
    }

    &__top-bread{
        top: .8rem;
    }

    &__meat{
        top: 50%;
        margin-top: -.1rem;
    }

    &__bottom-bread{
        bottom: .8rem;
    }

    @media screen and (min-width: 992px) {
        & {
            display: none;
        }
    }

}