.nav-bar{
    background-color: #b0b86c;
    display: none;

    // Mostrar siempre el navbar en pantallas grandes
    @media screen and (min-width: 992px) {
        display: block;
        position: static;
        width: 100%;
        background-color: #b0b86c;
    }

    &__nav-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
        font-size: 1rem;
        background-color: #b0b86c;

        @media screen and (min-width: 992px) {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }

    &__nav-item{
        text-align: center;
    }

    &__nav-link{
        display: block;
        background-color: #b0b86c;
        padding: 1rem 2rem;
        color: #000000;
        text-decoration: none;
        position: relative;

        &:active{
            color: #ffffff;
        }

        // Línea animada debajo del link en todos los tamaños
        &::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            border-radius: 100%;
            background-color: #000000;
            transition: width 0.3s ease-in-out;
        }

        &:hover::after{
            width: 100%;
        }

        @media screen and (min-width: 992px) {
            &{
                font-size: 1rem;
                font-weight: 600;
                letter-spacing: 2px;
            }
        }

        @media screen and (max-width: 1200px) {
            &{
                background-color: #b0b86c;
                color: #000000;
                font-size: .9rem;
            }
        }
    }

    @media screen and (min-width: 1200px) {
        &{
            order: 2;
            width: 100%;
            background-color: #000000;
        }
        
    }

}